{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<style>
    .gradient {
        background: linear-gradient(to right, #d8b5ff, #1eae98)
    }

    .card {
        border-radius: 1rem;
    }

    .fullscreen {
        height: 100vh;
    }

</style>

<section class="fullscreen gradient">
    <div class="container py-5 h-100">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
</section>

{% endblock content %}