{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}
<style>
    .gradient {
        background: linear-gradient(to right, #f97794, #623aa2)
    }

    .card {
        border-radius: 25px;
        background-color: white;
        color: black;
        box-shadow: 0 5px 10px 0px rgba(26, 26, 26, 0.4);
        font-family: Arial;
    }

    .fullscreen {
        height: 100vh;
    }

    .input {
        line-height: 3;
        border-radius: 25px;
        color: black;
        border: 1px solid rgb(0, 0, 0);
    }

    .button {
        border-radius: 25px;
        line-height: 2.5;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 1px 1px rgba(26, 26, 26, 0.2);
        border-style: solid;
        border-color: #fff;
    }
</style>

<section class="fullscreen gradient">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body px-4 text-center">
                        <div class="mb-md-5 mt-md-4 pb-1">

                            <h2 class="fw-bold mb-2">FORM REGISTRASI AKUN</h2>
                            <p class="mb-4">Silakan isi data berikut!</p>

                            <form method="POST" action="">
                                {% csrf_token %}
                                
                                <div class="form-floating mb-3">
                                    <input class="form-control input" type="text" name="username" value=""
                                        maxlength="150" autocapitalize="none" autocomplete="username" autofocus=""
                                        required="" id="id_username" placeholder=" ">
                                    <label class="form-label" for="id_username">Username</label>
                                    {% if form.username.errors %}
                                    <span class="text-danger">{{ form.username.errors }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-floating mb-3">
                                    <input class="form-control input" type="password" name="password1"
                                        autocomplete="new-password" required="" id="id_password1"
                                        aria-autocomplete="list" placeholder=" ">
                                    <label class="form-label" for="id_password1">Password</label>
                                    {% if form.password1.errors %}
                                    <span class="text-danger">{{ form.password1.errors }}</span>
                                    {% endif %}
                                </div>

                                <div class="form-floating mb-4">
                                    <input class="form-control input" type="password" name="password2"
                                        autocomplete="new-password" required="" id="id_password2" placeholder=" ">
                                    <label class="form-label" for="id_password2">Password Confirmation</label>
                                    {% if form.password2.errors %}
                                    <span class="text-danger">{{ form.password2.errors }}</span>
                                    {% endif %}
                                </div>

                                <div class="d-grid gap-3">
                                    <input class="button gradient" type="submit" name="submit"
                                        value="Daftar" />
                                </div>
                            </form>


                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}